# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
.env

# extention
VSCode-Extension/

# Node
node_modules/
dist/
build/

# Logs and database files
*.log
*.sqlite3

# Uploads and temporary files
upload/
tmp/
*.tmp

# PowerShell scripts (ignore all .ps1 files)
*.ps1

# Shell scripts
*.sh

# Markdown files (ignore all except READMEs)
*.md
!README.md
!**/README.md

# Ignore editor/backup files
*.md~

# Test folders
Backend/tests/
